@{
    ViewData["Title"] = "About";
}

<div class="jumbotron">
    <h1 class="display-4">Welcome to Climate Story</h1>
    <p class="lead">Explore CO2 emissions across Canada and discover the impact of climate change through data-driven insights.</p>
    <hr class="my-4">
    <p>Click below to start exploring the data or to read stories of how climate change is affecting our world.</p>
    <a class="btn btn-primary btn-lg" href="/Home/CO2Emissions" role="button">View CO2 Emissions</a>
    <a class="btn btn-secondary btn-lg" href="/Home/Stories" role="button">View Stories</a>
</div>
