html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1; /* This ensures the main content takes up available vertical space */
}

footer {
  background-color: #f8f9fa;
  padding: 1rem;
  position: relative;
  bottom: 0;
  width: 100%;
}
